################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/VotingApp.API/obj
/VotingApp.API/.vs/VotingApp.API
/VotingApp.API/bin/Debug/net8.0
/.vs
